<!-- {% extends "geonode_base.html" %} -->

{% load i18n %}
{% load static %}

{% block title %} {% trans "About" %} — {{ block.super }} {% endblock %}
{% block body_class %}about{% endblock %}


{% block body_outer %}
<div class="about-header">
  <div class="inner-header">
    <h1 class="main-title">Better maps and data mean better environmental policy and action</h1>
    <p class="subtitle">The Bougainville Natural Resource Portal is a one-stop portal where policymakers and technical
      teams can access environmental maps and datasets to make informed environmental policies and investments in the
      Autonomous Region of Bougainville
      .</p>
  </div>
</div>


<div class="block-green">
  <div class="container">
    The Autonomous Region of Bougainville guards a bounty of flora, fauna, minerals and other natural resources. Farmers
    grow high-value products like cocoa and vanilla on its volcanic soil, while rich deposits of gold and copper sit
    under swathes of primary and secondary forests. A thriving trade in tuna and bêche-de-mer supports fisheries. The
    Bougainville Natural Resource (NR) Portal helps map and conserve these resources while sustaining lives and livelihoods
    here by providing multi-nodal, multi-level environmental data to inform policymakers and technical teams in natural
    resource management (NRM) decisions.

  </div>
</div>

<div class="block-white">
  <div class="container">

    <h2>Local Insights from Global Data</h2>
    <p>
      The Bougainville NR Portal is a web portal developed and maintained by UNDP to provide the Autonomous Bougainville
      Government with a digitalized technical infrastructure, spatial data and analytics for taking sound natural
      resource management decisions. Local-level insights are teased out of global-level data to help drive sound
      policies and programming, framed in part by the Sustainable Development Goals and other strategic priorities.
    </p>
  </div>
</div>

<div class="block-graphics">
  <div class="container">
    <h2>Three ways to use the Bougainville NR Hub</h2>
    <div class="image-grid">

      <div class="img-group">
        <img src="{% static 'img/1_portal.png' %}" alt="">
        <p>
          <span class="upper">1. A Portal</span> for accessing and visualizing NRM information at different levels from
          global to local.
        </p>
      </div>
      <div>
        <img src="{% static 'img/2_space.png' %}" alt="">
        <p>
          <span class="upper">2. An interactive resource</span> where specialist organizations, academic institutions,
          local projects and users of the geonode site can share data and updates. ​Users will be able to upload, use
          and develop data.
        </p>
      </div>
      <div>
        <img src="{% static 'img/3_support.png' %}" alt="">
        <p>
          <span class="upper">3. A decision-making tool</span> for policy makers, civil society organisations and
          others to monitor and analyze NRM data and use it to inform planning, policies and action.
        </p>
      </div>
    </div>

    <p class="green-text">
      This web portal is based on the GeoNode open-source geospatial infrastructure.The curriculum will be made
      available for technical focal points to learn how to upload, use, and develop data on this website.
    </p>
  </div>
</div>

<div class="text-grid">
  <div class="container">
    <div class="grid">
      <div class="text-group">
        <h4> The Challenge</h4>
        <p>
          Policymakers need reliable, up-to-date and granular local data to help them develop evidence-based environment
          policies and action plans for NRM. However, easy access to localized, actionable and targeted analytics
          remains a persistent problem for many policymakers, technical teams and others working on environmental
          issues. Another challenge being addressed is the translation of the growing body of global environmental data
          into locally relevant insights and guidance to strengthen decision-making.

        </p>
      </div>
      <div class="text-group">
        <h4> The Opportunity</h4>
        <p>Digitalization has transformed how we measure, map and understand our environment. Satellite imagery can now
          track deforestation to the level of individual trees and record coral-bleaching events as they happen.
          Digitalized environmental datasets are helping pinpoint and analyze problems as they unfold, greatly enhancing
          the scope of sustainable interventions.</p>
        <p>Aggregating high-quality global datasets with locally created data and insights can also democratize
          knowledge by making it available to everyone and thus increasing the transparency of NRM. Spatial data
          represents a particularly engaging format for use in decision-making because maps easily transcend language
          and cultural barriers.</p>
        <p>>Many of these environmental datasets are produced by premier research institutions such as the UN
          Biodiversity Lab, Global Forest Watch and the World Environment Situation Room, and may be accessed at no
          cost.

        </p>
      </div>
    </div>
  </div>
</div>

<div class="questions-block">
  <div class="container">
    <h3>Have questions?</h3>
    <p>This web portal has been developed and is currently being maintained with the support of UNDP.</p>
    <p>Contact us at <a href="mailto:png.im@undp.org ">png.im@undp.org </a></p>
  </div>
</div>


{% endblock %}