{% extends "geonode_base.html" %}

{% load i18n %}
{% load static %}

{% block title %} Training — {{ block.super }} {% endblock %}
{% block body_class %}training{% endblock %}


{% block body_outer %}
<div class="page-header">
  <h1>Training</h1>
</div>

<h2>What can I do with the Bougainville Natural Resource Portal?</h2>
<div>
  <p>These training documents and accompanying presentations have been developed to support users in their journey to
    using open spatial data infrastructures effectively and efficiently. Not only will this curriculum teach the basics
    of the Bougainville Natural Resource Portal, it will also include training on the complementary open-source
    softwares Kobo Toolbox and QGIS.</p>
</div>

<h2>What is Kobo Toolbox?</h2>
<div>
  <div class="training-block">
    <img src="{% static 'img/training_kobo.png' %}" alt="">
    <div>
      <p>
        Kobo Toolbox is a suite of open-source, widely used field-level data collection tools which can utilize mobile
        Android devices (for example, phones or tablets). The tool box includes Kobo Collect, which can be downloaded
        from
        Google Play and allows for offline geo-located data collection. This can be useful for minimizing redundancy,
        duplication, and time and cost required to do data collection in the field and digitize it afterwards.
      </p>
      <p>
        In these training documents we will learn how to create an account on Kobo Toolbox, create a survey online, and
        connect it to a mobile device using Kobo Collect.
        <a href="https://www.kobotoolbox.org/" target="_blank">Learn more about Kobo Toolbox here</a>.
      </p>
    </div>
  </div>

  <h3>What do I need to start using Kobo Toolbox?</h3>
  <p>

  <ul>
    <li>A computer with internet connection (to set up and create an account and survey) </li>
    <li>Android device (for field data collection)</li>
  </ul>
  </p>
  <h4>Documentation</h4>
  <p>
    Training presentation: <a
      href="https://docs.google.com/presentation/d/1hQh6Es-LLN902LyR-YMD3hB0mkFSeOQQ/edit?usp=sharing&ouid=104308037024341504081&rtpof=true&sd=true"
      target="_blank">Kobo Toolbox Training: Field data collection with mobile devices</a>

  </p>
</div>

<h2>What is QGIS?</h2>
<div>
  <div class="training-block">
    <img src="{% static 'img/training_qgis.png' %}" alt="">
    <div>
      <p>QGIS, which stands for Quantum Geographic Information System, is a rich and full-featured open-source desktop
        GIS
        software. It does not require an internet connection to use, however, several additional features are available
        to
        users that can connect to the Bougainville NR Portal via web map services (WMS). This is discussed in the
        training
        slides and documentation.</p>
      <p>In these training documents, we will stick to the basics of QGIS, including an introduction to spatial data
        terms
        and concepts, navigating the interface, loading data and styling it, and creating a map using the QGIS templates
        developed for this project. </p>
    </div>
  </div>
  <h3>What do I need to start using QGIS?</h3>
  <p>
  <ul>
    <li>A QGIS installation file (Accessible here: <a href="https://qgis.org/en/site/forusers/download.html"
        target="_blank">
        https://qgis.org/en/site/forusers/download.html)</a></li>
    <li>A computer with at least 5 GB of internal storage</li>
    <li>A mouse is recommended</li>

  </ul>
  </p>

  <h4>Documentation</h4>
  <p>
    Training document: <a href="https://drive.google.com/file/d/14eQyVDAbV_6tSEixKewCgI7rejJeCSpI/view"
      target="_blank">03_GISMetadataGuidanceNote_Guideline_UNDP_042022.pdf</a>
  </p>
  <p>
    Training presentation: <a
      href="https://docs.google.com/presentation/d/1Jh34uy1P0bMeUOtSWVau5bOfNRYejXp8/edit?usp=sharing&ouid=104308037024341504081&rtpof=true&sd=true"
      target="_blank">QGIS Training: Make maps and download data</a>
  </p>
</div>

<h2>What is the Bougainville Natural Resource Portal?</h2>
<div>
  <div class="training-block">
    <img src="{% static 'img/training_portal.png' %}" alt="">
    <div>
      <p>The Bougainville Natural Resource Portal is an online data platform for sharing and communicating data and
        insights
        about the region. It uses the <a href="https://geonode.org/" target="_blank">Geonode</a> open-source
        infrastructure
        as a backend, with some customizations to make it more user-friendly. The Natural Resource Portal is perfect for
        stakeholders including government, NGOs, civil society organizations, and local residents to share and access
        information, share project data, compare datasets across different scales and timeframes, and turn commitments
        into
        action. It does not have the same suite of features as QGIS, however, it is still possible to create and share
        interactive maps, multimedia stories, and upload pictures and documents using this participatory platform. </p>
      <p>The training documentation goes over the infrastructure of the Bougainville NR Portal, how to register an
        account
        and sign in, download and upload data, and create and share interactive maps.</p>
    </div>
  </div>
  <h3>What do I need to use the Bougainville Natural Resource Portal?</h3>
  <p>
  <ul>
    <li>A computer with an internet connection </li>
  </ul>
  </p>

  <h4>Documentation</h4>

  <p>
    Training document: <a href="https://drive.google.com/file/d/1L7LRXEr-NCIcikBKsvf0Rv7hBSAat0qB/view?usp=sharing"
      target="_blank">02_BougainvilleNRPortal_GuidanceDocument_UNDP_042022.pdf</a>
  </p>
  <p>
    Training presentation: <a
      href="https://docs.google.com/presentation/d/1EqQcSUVyFsMGX7IlaQ4OHd8uGHY7BWB5/edit#slide=id.p1"
      target="_blank">Bougainville Natural Resource Portal Training: Making data participatory, open and actionable</a>
  </p>
</div>

<h2>Metadata Guidance Document</h2>
<div>
  <p>For making good decisions we need good quality data, with which we can build decision-making systems, and retain
    and re-use the data in similar situations in future. All these are impossible without accurate metadata. </p>
  <p>Metadata is data about data. Metadata is information stored in a database, text document, or xml file that
    describes the purpose and creation of the data. The metadata describes what the data is about, when, how and by whom
    it was created, and how it can be used.</p>
  <p>Every dataset can be defined by creation date, name, description, license, quality and many more attributes. For
    instance, a GIS dataset containing some point locations can be described by its name, the creator, creation date,
    region name, its purpose, and its accuracy. But, without these descriptors encapsulated as metadata, it will be just
    a set of seemingly random latitudes and longitudes. </p>
  <p>This document has been developed to explain more about metadata and file naming conventions, and gives suggestions
    for their use in GeoNode and QGIS. </p>
  <h4>Documentation</h4>

  <p> <a href="https://drive.google.com/file/d/1L7LRXEr-NCIcikBKsvf0Rv7hBSAat0qB/view?usp=sharing"
      target="_blank">03_GISMetadataGuidanceNote_Guideline_UNDP_042022.pdf</a></p>
</div>
{% endblock %}